{% extends 'basic.html' %}
{% block title %} Home {% endblock %}
{% block body %}
    <!-- Navigation Bar -->
    <!-- Resume Section -->
    <section id="resume" class="container resume-section">
        <h2 class="text-center">Rahim Khan</h2>

        <!-- Personal Information -->
        <div class="resume-item">
            <h3>Personal Information</h3>
            <p><strong>Name :</strong> Rahim Khan</p>
            <p><strong>Email :</strong> rahimkhan7627047457@gmail.com</p>
            <p><strong>Linkedin :</strong><a href="https://www.linkedin.com/in/rahim-khan-iitg/" target="_blank"> Linkedin link</a></p>
            <p><strong>Github :</strong><a href="https://github.com/rahim-khan-iitg" target="_blank"> Github link</a></p>
            <p><strong>Phone :</strong> +91 7627047457</p>
            <!-- Add more personal information as needed -->
        </div>

        <!-- Education -->
        <div class="resume-item">
            <h3>Education</h3>
            <!-- <p><strong>University Name</strong> - Bachelor of Science in Computer Science (Year of Graduation)</p> -->
            <table border="1">
                <tr>
                    <th style="padding: 5px;">Degree</th>
                    <th style="padding: 5px;">University/Board</th>
                    <th style="padding: 5px;">Year of Graduation</th>
                    <th style="padding: 5px;">Grade/Percentage</th>
                </tr>
                <tr>
                    <td style="padding: 5px;">MSc in Mathematics and Computing</td>
                    <td style="padding: 5px;">Indian Institute of technology, Guwahati</td>
                    <td style="padding: 5px;">2022-present</td>
                    <td style="padding: 5px;">7</td>
                </tr>
                <tr>
                    <td style="padding: 5px;">BSc in Mathematics</td>
                    <td style="padding: 5px;">Indira Gandhi National Open University, Delhi</td>
                    <td style="padding: 5px;">2019-2021</td>
                    <td style="padding: 5px;">7.21</td>
                </tr>
                <tr>
                    <td style="padding: 5px;">Intermediate</td>
                    <td style="padding: 5px;">UP Board</td>
                    <td style="padding: 5px;">2015</td>
                    <td style="padding: 5px;">87%</td>
                </tr>
                <tr>
                    <td style="padding: 5px;">Highschool</td>
                    <td style="padding: 5px;">UP Board</td>
                    <td style="padding: 5px;">2013</td>
                    <td style="padding: 5px;">83.21%</td>
                </tr>
                <!-- Add more rows for additional educational details -->
            </table>
            <!-- Add more education details as needed -->
        </div>

        <!-- Work Experience -->
        <div class="resume-item">
            <h3 style="margin-top: 10px;">Work Experience</h3>
            <p><strong>Apprentice</strong> - Ordnance Factory , Badmal (Aug-2018 - Nov-2020)</p>
            <ul>
                <li> Designed, developed, and maintained web applications using Flask, a micro web framework in Python, to create
                    scalable and efficient solutions.</li>
                <li>Built RESTful APIs using Flask, enabling seamless communication between different components of the application
                    and external services</li>
                <li> Integrated machine learning models into Flask applications to enhance functionality and provide intelligent insights</li>
                <!-- Add more responsibilities as needed -->
            </ul>
            <p><strong>Job Training</strong> - The Ananta Pushkar , Pushkar (Jan-2018 - Aug-2018)</p>
            <ul>
                <li> Worked on Wish.Net</li>
                <li> Maintained and Developed internal website for Guest and Employee management.</li>
                
            </ul>
            <p><strong>Industrial Training</strong> - The Ananta Udaipur , Udaipur (Aug-2017 - Jan-2018)</p>
            <ul>
                <li> Worked on Wish.Net</li>
                <li> worked on several internal websites to enhance the functionality of existing system using python and flask</li>
                
            </ul>
            <!-- Add more work experience details as needed -->
        </div>

        <!-- Skills -->
        <div class="resume-item">
            <h3>Skills</h3>
            <p><strong>Programming Languages :</strong>  C,C++, Python, Javascript*, Matlab*.</p>
            <p><strong> Machine Learning & Deep Learning Frameworks:</strong> Scikit-learn, Keras, Tensorflow*, Statesmodels*,Pytorch</p>
            <p><strong> Other Python Tools : </strong> Numpy, Pandas, Matplotlib, Seaborn, Pillow.</p>
            <p><strong> Web technologies :</strong>  HTML, CSS, Tailwindcss*, Nextjs, Django,Flask,streamlit.</p>
            <p><strong> Database management : </strong>MySQL.</p>
            <p><strong>Operating system : </strong> Windows, Linux</p>
        </div>

        <div class="resume-item">
            <h3>Key Course Taken</h3>
            <p><strong> Data Science : </strong>  PW Skills Data Science Masters Course 1.0.</p>
            <p><strong> Computer Science : </strong>  Programming in C, Data Structure algorithms, Discrete Mathematics, Database Management
                Systems, Theory of Computing , Natural language Processing with large language models.</p>
            <p><strong>  Mathematics : </strong>  Linear Algebra, Probability Theory, Optimization Techniques, Differential Equations, Numerical
                Analysis.</p>
        </div>

        <!-- Add more sections such as Projects, Certifications, etc. -->

    </section>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}